@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
        
body{
    font-family: 'opensans', sans-serif;
   
    height: 100vh;
    background: linear-gradient(to bottom, #1565c0,#2196f3,#bbdefb) ;
    display: flex;
    flex-direction: column;
    gap:5rem ;

}

@keyframes fall {
   0%{
    transform: traslateY(0vh) translateX(0);
   }
   100%{
    transform: translateY(100vh) translateX(1rem);
   } 
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    /* height: 100%; */
  
}
.snowFlake{
   
    background-color: #ffffff;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    /* animation: fall linear ;
    animation-duration: 5s;
    animation-iteration-count: infinite; */
    /* position: absolute; */
}

.snowFlake:nth-child(9){animation-duration: 10s; animation-delay: 1s;}


.relativeContainer{
    position: relative;
    width:5rem;
    height: 5rem;
    background-color: rgb(102, 255, 0);
}
.absoluteContainer{
    position: relative;
    width:5rem;
    height: 5rem;
    background-color: rgb(255, 238, 0);
}
.fixedContainer{
    position: relative;
    width:5rem;
    height: 5rem;
    background-color: rgb(255, 115, 0);
}

.relativeItems{
    position: relative;
    background: white;
}
.absoluteItems{
    position: absolute;
    background: white;

}
.absoluteItem1{
    position: absolute;
    background: white;
    top: 4rem;
    left:4rem
}
.fixedItems{
    position: fixed;
    background: white;
}
.fixedItem1{
    position: absolute;
    background: white;
    top: 4rem;
    left:4rem
}